doctype html
html
  head
    title= title
  link(rel='stylesheet', href='../styles/styles.css')
  body
  div.content-total
    div(class='topnav navebar')
      a(class='active' href='/') Home
      a(href='/post') New Message
      a(href='/auth/login') Login 
      a(href='/auth/sign-up') Sign Up 
      a(href='/auth/logout') LogOut 

    main.content
      block content
