doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../styles/styles.css')
  body
  div.content-total
    div(class='container-fluid navebar')
          block sidebar
    main.content
      block content
